---
layout: layouts/home.njk
showPostHeader: false
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/
eleventyComputed:
  title: Tagged “{{ tag }}”
---

{% from "components/post-list.njk" import renderPostList %}
{% set tagItems = collections[tag] | default([]) %}
{% set postCount = tagItems | length %}

<section class="mw7 center">
  <h1 class="f3 f2-ns lh-title mb2">Tagged “{{ tag }}”</h1>
  <p class="f6 f5-ns theme-midtone mt0 mb4">
    {{ postCount }} entr{% if postCount == 1 %}y{% else %}ies{% endif %}
  </p>
  {{ renderPostList(tagItems, "No entries found for this tag.") | safe }}
</section>
